@model WebbDejt2.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}


<h4>Profile Page</h4>

<div>
    <hr />
    <dl class="dl-horizontal col-md-6">
        <h2>@Html.DisplayFor(model => model.Name)</h2>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <img class="media-object" src="@Url.Action("Image", "Account", new { id = Model.Id})" alt="...">
        </dd>
            <hr />
            @if (Model.Email == User.Identity.Name)
            {
                <p class="well well-sm">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Change Password", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </p>
            }
            else if (Html.Action("CheckIfFriend","Friends", new { profileId = Model.Id }).ToString() == "False")
            {
                <p class="well well-sm">
                    @Html.ActionLink("Send Friend Request", "SendFriendRequest", "Friends", new { toId = Model.Id }, new { })
                </p>
            }
    </dl>
</div>
    <div class="row">
        <div class="col-md-6">
            <h2>Posts</h2>
            <p>
                <input type="text" id="PostTextField"/>
                <button onclick="createPost('../api/Posts')">Create new post</button>
                @Html.Action("Index","Posts", new { toid = Model.Id })
                
            </p>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    function createPost(api) {
        var post = {
            Text: $("#PostTextField").val(),
            Toid: "@Model.Id"
            };


            $.ajax({
                url: api,
                type: 'post',
                data: post,
                success: function (result) {
                    console.log(result);
                },
                error: function (errorMsg) {
                    console.log("ErrorMessage: " + errorMsg);
                }
            });
        }
    </script>

}